{% extends 'forum/forum_base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}
{% block forum %}
<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-12 col-md-10 mb-3 mx-auto card text-dark" style="align-items: center; padding:30px;">
      <h2>{{ title }}</h2>
    <div class="form-group">
      {{ form|crispy }}
    </div>
    <div style="display: inline;">
      <a href="/forum"><button type="button" class="btn btn-secondary">Cancel</button></a>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
{% endblock %}