/* body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
} */
#feedback-section {
  background: linear-gradient(rgba(256, 256, 256, 0.6), rgba(0, 0, 0, 0.6));
  display: flex;
  /* background: url(Untitled.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  padding-bottom: 2%;
}
#feedback-section .container h1 {
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
  color: rgb(5, 5, 5);
  letter-spacing: 2px;
}
#feedback-section .container p {
  text-align: center;
  font-weight: 600;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3%;
  color: rgb(8, 8, 8);
  letter-spacing: 3px;
}
.contact-form2 {
  text-align: center;
  display: block;
}
/*
input {
  padding: 10px;
  margin: 10px;
  width: 70%;
  background-color: rgba(136, 133, 133, 0.5);
  color: #fff;
  border: none;
  outline: none;
}
input::placeholder {
  color: #fff;
}
textarea {
  font-family: sans-serif;
  padding: 10px;
  margin: 10px;
  width: 70%;
  background-color: rgba(136, 133, 133, 0.5);
  color: #fff;
  border: none;
  outline: none;
}
textarea::placeholder {
  color: #fff;
} */
.r {
  color: rgb(8, 8, 8);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  display: inline-block;
  margin: 0px 20px 10px 0px;
  cursor: pointer;
}
.submit {
  width: 40%;
  background-color: white;
  padding: 4px;
  outline: none;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 33px;
  text-align: center;
  cursor: pointer;
  margin-left: 3%;
  border: 2px solid rgb(190, 190, 190);
  color: rgb(116, 114, 114);
}
.submit:hover {
  border: 1px solid #fff;
  color: rgb(8, 8, 8);
  cursor: pointer;
}
@media (max-width: 768px) {
  #contact-section .contact-form {
    display: block;
    width: 100%;
    text-align: center;
  }
  #feedback-section {
    height: 100%;
  }
  #contact-section .container h2 {
    color: rgb(14, 90, 167);
  }
  #contact-section .container p {
    color: rgb(14, 90, 167);
  }
  #contact-section .submit {
    width: 70%;
  }
}
