<div class="nav-side-menu">
  <div class="brand"><h3>Discuss Forum</h3></div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

      <div class="menu-list">

          <ul id="menu-content" class="menu-content collapse out">
              <li> 
                <form class="form-inline" action="/search/">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search in Forum" name="q" required>
                  <button class="btn btn-primary mr-sm-" type="submit"><i class="fa fa-search fa-lg"></i></button>
                </form>
              </li>

              <li>
                <a href="/forum"><div><i class="fas fa-comments"></i> Discuss </div></a>
              </li>


              <li>
                <a href="create-post"><div><i class="fa far fa-edit fa-lg"></i> Create New Post </div></a>
              </li>  
              <!-- <li data-toggle="collapse" data-target="#new" class="collapsed">
                <a href="#"><i class="fa fa-car fa-lg"></i> Reporting <span class="arrow"></span></a>
              </li>
              <ul class="sub-menu collapse" id="new">
                <li>Alarmstatistik</li>
                <li>Prozessfähigkeit</li>
              </ul> -->
               <li>
                <a href="my-posts">
                  <div>
                <i class="fa fa-user fa-lg"></i> My Posts
              </div>
              </a>
                </li>

               <li data-toggle="collapse" data-target="#new" class="collapsed">
                <a href="#"><i class="fas fa-phone-alt"></i> Help <span class="arrow"></span></a>
              </li>
              <ul class="sub-menu collapse" id="new">
                <li>Contact Us</li>
                <li>Feedback</li>
              </ul>

          </ul>
   </div>
</div>